{% extends "AMBackofficeBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Ajouter un article {% endblock %}


{#   MENU    #}
{% block body %}

    {{ include("AMBackofficeBundle:Backoffice:menu2.html.twig") }}

{#  CONTENT  #}
<div class="container-fluid">
    <div class="row" style="margin-top: 80px;">
        <div class="col-12 col-md-3 col-lg-2 col-xl-3 bd-sidebar">
            {{ include("AMBackofficeBundle:Backoffice:navBar.html.twig") }}
        </div>
        <div class="col-12 col-md-9 col-lg-9 col-xl-9 bd-content" role="main">
            <div class="container-fluid">
                <div class="row" style="margin-top: 80px;">
                    <div class="col-1 col-md-1 col-lg-1 col-xl-1 bd-sidebar">
                    </div>
                    <div class="col-10 col-md-10 col-lg-10 col-xl-10 bd-content" role="main">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>Ajouter un Article :</strong>

                            </div>
                            <div class="panel-body">
                                <form id="formAddPost" action="{{ path('am_backoffice_addaddpost') }}" method="post"
                                      enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="title">Titre * : </label>
                                        <input type="text" id="title" name="title" required
                                               placeholder="Titre de l'article" class="form-control">
                                    </div>
                                    <div id="error_titre" class="alert alert-danger" style="display: none;">
                                        Veuillez saisir un titre.
                                    </div>
                                    <div class="form-group">
                                        <label for="message2">Article * : </label>
                                        <textarea id="summernote" name="content" required
                                                  placeholder="Corps de l'article" rows="15">

                                        </textarea>
                                    </div>
                                    <div id="error_message" class="alert alert-danger" style="display: none;">
                                        Veuillez saisir un article.
                                    </div>
                                    * : Tous les champs sont obligatoires.
                                    <div><br>
                                        <button type="submit" id="btn_addPost" name="btn_addPost"
                                            class="btn btn-primary">Confirmer
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 col-md-1 col-lg-1 col-xl-1 bd-toc"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}